body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    background-image:url(https://www.desktopbackground.org/p/2012/11/18/485868_binary-code-backgrounds-youtube_1920x1080_h.jpg);
    margin: 0px;
}

main {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
}

main > div{
flex: 1 1 200px;
margin: 10px;
}

.grids {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    width:100%;
    height: 200px;
    margin-top: 10px;
    background-color: whitesmoke;
    margin-left: 10px;
}

.titulo {
    background-color: black;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: white;
    margin-top: -20px;
    width: 100%;
    height: 55px;
}

.resultadocss {
    display:flex;
    background-color:black;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 16px;
    color: white;
    margin-top: 5px;
    padding-bottom: 9px;
}


.meio {
    margin-top:10px;
    height: 105px;
    width:100%;
}

.button {
    margin-top: 5px;
}

#inputconv {
    width: 90%;
}

.button {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.input {
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    height: 20px;
}

#numconversor {
    width: 90%;
    margin-bottom: 2px;
    height: 20px;
}

#numconversor2 {
    width: 90%;
}

#numtriangulo {
    width: 70%;
    margin-bottom: 2px;
    height: 20px;
}

#numtriangulo2 {
    width: 70%;
    margin-bottom: 2px;
    height: 20px;
}

#numtriangulo3 {
    width: 70%;
    margin-bottom: 2px;
    height: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
