* {
    margin: 0px;
    padding: 0;
} 

body {
    margin: 0%;
}

#tracado{
    height: 20px;
    background-color: black;
    
}

/*----------------------------- Cabeçalho -----------------------------------*/

header {
    display: flex;
    margin: 0%;

}


#carrinho{
    width: 100px;
    height: 120px;
    margin-top: 3.8%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
/* background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#000000));
            background: -moz-linear-gradient(top, #CCCCCC, #000000);
            filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#CCCCCC', EndColorStr='#000000'); */
}

#lambreta{
    width: 60px;
    height: 50px;
    margin: 0%;
}

#center {
    height: 250px;
    width: 100%;
    margin: 0%;
    text-align: center;
}

#logoimg {
    margin-top: 5px;
    width:200px;
    margin-bottom: 0%;
}

/* -----------------------------Barra de Navegação------------------------- */

#nav_bar {
    margin: 0%;
    display: flex;
    list-style:none;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-family: 'Montserrat';
    background-color: black;
}


#nav_bar a:link, a:visited, a:active {
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color:white;
    font-size: 20px;
	}
#nav_bar a:hover {
    margin: auto;
    text-decoration: underline;  
	color:white; 
	font-size:140%; 
    }

/* -----------------------------Carousel Imagens--------------------------- */

.slideshow-container a:link, a:visited, a:active {   
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
}

#bqt {
    max-width: 100%;   /* Máximo da largura da imagem */
    width: 100%;
      /* Máximo da altura da imagem */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
    background-size:100%;
    background-repeat: no-repeat;

}

#bbc {
    max-width: 100%;   /* Máximo da largura da imagem */
    width: 100%;
      /* Máximo da altura da imagem */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
    background-size:100%;
    background-repeat: no-repeat;
}

#slc {
    max-width: 100%;   /* Máximo da largura da imagem */
    width: 100%;
    max-height: 500px;  /* maximo de largura da imagen */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
    background-size:100%;
    background-repeat: no-repeat;
}

/* ---------------------------------Grid2---------------------------------- */

section {
    display: flex;
    justify-content: space-around;
    font-family: "Ubuntu";
}

#section a:link, a:visited, a:active {   
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
}

/* --------------------------------Hamburguers----------------------------- */

.hamburguer {
    width: 330px;
    height: 560px; 
    order: 1;
    border: 7px solid;
    background-color:rgb(97, 60, 60);
 border-color: black; 
 }


.hamburguer h1 {
    display: flex;
    justify-content: center;
    color: black;
    margin: 2px;
}

.hamburguer h3 {
    color:black;
    text-align: center;
    margin: 0px;
    line-height:30px;

}

.hamburguer img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10% ;
    margin-bottom: 0px;
    width: 250px;
    height: 250px;
}

/* ---------------------------------Cervejas------------------------------- */

.cervejas {
    width: 330px;
    height: 560px; 
    order: 1;
    border: 7px solid;
    background-color: rgb(57, 87, 57);
    border-color: black;
}

.cervejas h1 {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.cervejas h3 {
    
    text-align: center; 
    line-height: 27px; 
    margin:0px;  
    
}

.cervejas img {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-left: 14% ;
    
    width: 250px;
    height: 250px;
}


/* -----------------------------------Porções------------------------------ */

.porcoes {
    width: 330px;
    height: 560px;  
    order: 1;
    border: 7px solid;
    background-color:rgb(107, 92, 65);
    border-color: black;
      
}
.porcoes h1 {
    display: flex;
    justify-content: center;
}
.porcoes h3 {
    margin: 1%;
    text-align: center; 
}

.porcoes img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10% ;
    margin-bottom: 0px;
    width: 250px;
    height: 250px;
}

/* --------------------------------Sobremesas------------------------------- */

.sobremesas {
    width: 330px;
    height: 560px; 
    order: 1;
    border: 7px solid;
    background-color:rgb(80, 58, 80);
 border-color: black;
}

.sobremesas h1{
    display: flex;
    justify-content: center;
}

.sobremesas h3 {
text-align: center;
margin: 20px;
}
.sobremesas img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10% ;
    margin-bottom: 0px;
    width: 250px;
    height: 250px;
}

/* ------------------------------Separador-------------------------------- */

#separador {
    width: 100%;
    margin-bottom:-4%;
    margin-top: 60px;    
    }    


/*---------------------------------Rodapé------------------------------------*/    

footer{
    /* margin-top: 50px; */
    display: flex;
    background-color:#141414;
    height: 650px;
    width: 100%;
    margin-bottom: 0px;  
    justify-content: left;
    align-items: center;
    
} 
  

/* div */
#logo_esq{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6% ;
    width: 250px;
    height: 250px;
    
    
}


/* div descrição1 */
#descricao {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 7% ;
    height: 60%;
    
}

/* cor e tamanho fonte 1 <p> */
#descricao p{
    color: white;
    width: 100%;
    font-size: 20px;
    
}

/* div descrição2 */
/* #descricao2{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    
} */

/* cor e tamanho fonte 2 <p> */
/* #descricao2 p{
    margin: 10%;
    color: white;
    font-size: 18px;
} */

/* div descrição3 */
/* #descricao3{
    
    height: 150px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}  */

/* cor e tamanho fonte 3 <p> */
/* #descricao3 p{
    margin: 10%;
    color: white;
    font-size: 18px;
} */

/* -----------------------------Barra de Navegação2-------------------------- */

#asemfronteiras {
    margin-left:0%;
    padding-left:0%;    
    }
    
#nav_bar2 {
    margin: 0%;
    display:flex;
    list-style:none;
    justify-content: left;
    height: 50px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;   
    margin-bottom: 0%;
    }
    
    #nav_bar2 a:link, a:visited, a:active {
        padding-left: 40px;
        padding-right: 40px;
        text-decoration: none;
        color:white;
        font-size: 15px;
        }
        
    #nav_bar2 a:hover {
        margin: auto;
        text-decoration: underline;  
        color:white; 
        
        }

/*------------------------------- Paleta de cores do Adobe Color -------------------------------- */
.My-Color-Theme-4-rgba { color: rgba(173, 173, 172, 1); }
.My-Color-Theme-5-rgba { color: rgba(135, 135, 134, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(0, 0, 0, 1); }
.My-Color-Theme-2-hsla { color: hsla(0, 0, 7, 1); }
.My-Color-Theme-3-hsla { color: hsla(60, 1, 62, 1); }
.My-Color-Theme-4-hsla { color: hsla(60, 0, 67, 1); }
.My-Color-Theme-5-hsla { color: hsla(60, 0, 52, 1); }
/*------------------------------- Paleta de cores do Adobe Color end -------------------------------- */